#similarity based nearest neighbor

In [63]:
import pandas as pd
import numpy as np

In [40]:
df=pd.read_csv('data.csv',encoding='utf8')

In [41]:
df.head()

,Unnamed: 0,userid,No_of_visit,url,summary
0,0,48,1,https://timesofindia.indiatimes.com/india/6206...,According to the Union Ministry of Health and ...
1,1,45,3,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...
2,2,62,0,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...
3,3,4,4,https://timesofindia.indiatimes.com/india/6206...,According to the Union Ministry of Health and ...
4,4,13,3,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...

In [42]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [43]:
data=df.copy()

In [44]:
data.head()

,userid,No_of_visit,url,summary
0,48,1,https://timesofindia.indiatimes.com/india/6206...,According to the Union Ministry of Health and ...
1,45,3,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...
2,62,0,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...
3,4,4,https://timesofindia.indiatimes.com/india/6206...,According to the Union Ministry of Health and ...
4,13,3,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...

In [18]:
data.head(1)['summary']

0    According to the Union Ministry of Health and ...
Name: summary, dtype: object

In [48]:
summ = data.dropna(axis = 0, subset = ['url'])
count = (summ.
     groupby(by = ['url'])['No_of_visit'].
     count().
     reset_index().
     rename(columns = {'No_of_visit': 'totalvisitCount'})
     [['url', 'totalvisitCount']]
    )
count.head()

                                                 url  totalvisitCount
0  https://timesofindia.indiatimes.com/home/educa...              189
1  https://timesofindia.indiatimes.com/india/6206...              224
2  https://timesofindia.indiatimes.com/india/as-c...              210
3  https://timesofindia.indiatimes.com/sports/foo...              178
4  https://timesofindia.indiatimes.com/world/paki...              199

In [50]:
datawithcount = summ.merge(count, left_on = 'url', right_on = 'url', how = 'left')
datawithcount.head()

,userid,No_of_visit,url,summary,totalvisitCount
0,48,1,https://timesofindia.indiatimes.com/india/6206...,According to the Union Ministry of Health and ...,224
1,45,3,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...,178
2,62,0,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...,178
3,4,4,https://timesofindia.indiatimes.com/india/6206...,According to the Union Ministry of Health and ...,224
4,13,3,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...,178

In [51]:

pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(count['totalvisitCount'].describe())

count     5.000
mean    200.000
std      17.903
min     178.000
25%     189.000
50%     199.000
75%     210.000
max     224.000
Name: totalvisitCount, dtype: float64

In [53]:

popularity_threshold = 2
rating_popular_website= datawithcount.query('totalvisitCount >= @popularity_threshold')
rating_popular_website.head()

,userid,No_of_visit,url,summary,totalvisitCount
0,48,1,https://timesofindia.indiatimes.com/india/6206...,According to the Union Ministry of Health and ...,224
1,45,3,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...,178
2,62,0,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...,178
3,4,4,https://timesofindia.indiatimes.com/india/6206...,According to the Union Ministry of Health and ...,224
4,13,3,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...,178

In [56]:
webiste_features_df=rating_popular_website.pivot_table(index='url',columns='userid',values='No_of_visit').fillna(0)
webiste_features_df.head()

userid,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
url,,,,,,,,,,,,,,,,,,,,,
https://timesofindia.indiatimes.com/home/education/news/career-in-data-science-in-india-courses-certification-salary-future-growth/articleshow/75023624.cms,6.500,4.000,5.333,1.000,0.000,4.000,3.000,4.000,0.000,2.333,...,7.000,2.000,2.667,2.500,5.000,1.500,8.000,7.000,6.000,6.000
https://timesofindia.indiatimes.com/india/62064-more-covid-19-cases-in-india-recoveries-cross-15-lakh-mark/articleshow/77456041.cms,8.500,3.333,2.000,3.000,4.167,5.750,6.500,2.333,2.000,2.333,...,5.333,6.000,0.000,7.600,6.333,5.000,6.000,3.000,1.000,0.000
https://timesofindia.indiatimes.com/india/as-china-factor-looms-india-hopes-to-work-with-lankas-rajapaksas-for-development/articleshow/77509553.cms,4.750,9.000,5.500,0.000,4.333,5.500,6.667,1.000,4.000,4.200,...,8.500,0.000,2.800,0.000,3.250,0.000,2.000,9.000,4.000,5.667
https://timesofindia.indiatimes.com/sports/football/champions-league/top-stories/thousands-have-tried-bayern-munich-ponder-how-to-stop-messi/articleshow/77489723.cms,1.667,5.000,5.000,5.000,3.000,1.000,3.500,0.000,5.667,0.000,...,0.500,3.667,7.250,6.500,5.000,6.333,3.500,0.000,6.000,6.500
https://timesofindia.indiatimes.com/world/pakistan/pakistan-us-review-bilateral-relationship/articleshow/77503580.cms,1.000,0.000,0.000,3.000,4.000,4.800,0.000,9.000,0.000,3.000,...,2.000,0.000,3.000,0.000,2.750,0.000,4.000,4.667,3.000,7.500

In [58]:
from scipy.sparse import csr_matrix

website_features_df_matrix = csr_matrix(webiste_features_df.values)

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(website_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [61]:
webiste_features_df.shape

(5, 100)

In [67]:

query_index = np.random.choice(webiste_features_df.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(webiste_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors =2)

0

In [68]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(webiste_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, webiste_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for https://timesofindia.indiatimes.com/home/education/news/career-in-data-science-in-india-courses-certification-salary-future-growth/articleshow/75023624.cms:

1: https://timesofindia.indiatimes.com/india/as-china-factor-looms-india-hopes-to-work-with-lankas-rajapaksas-for-development/articleshow/77509553.cms, with distance of 0.26375442344957345:

# popularity based

In [99]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import time
import Recommender as Recommenders

In [71]:
df=pd.read_csv('data.csv',encoding='utf8')

In [72]:
df.head()

,Unnamed: 0,userid,No_of_visit,url,summary
0,0,48,1,https://timesofindia.indiatimes.com/india/6206...,According to the Union Ministry of Health and ...
1,1,45,3,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...
2,2,62,0,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...
3,3,4,4,https://timesofindia.indiatimes.com/india/6206...,According to the Union Ministry of Health and ...
4,4,13,3,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...

In [74]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [75]:

data_grp = data.groupby(['url']).agg({'No_of_visit': 'count'}).reset_index()
grouped_sum = data_grp['No_of_visit'].sum()
data_grp['percentage']  = data_grp['No_of_visit'].div(grouped_sum)*100
data_grp.sort_values(['No_of_visit', 'url'], ascending = [0,1])

                                                 url  No_of_visit  percentage
1  https://timesofindia.indiatimes.com/india/6206...          224      22.400
2  https://timesofindia.indiatimes.com/india/as-c...          210      21.000
4  https://timesofindia.indiatimes.com/world/paki...          199      19.900
0  https://timesofindia.indiatimes.com/home/educa...          189      18.900
3  https://timesofindia.indiatimes.com/sports/foo...          178      17.800

In [83]:
data.head()

,userid,No_of_visit,url,summary
0,48,1,https://timesofindia.indiatimes.com/india/6206...,According to the Union Ministry of Health and ...
1,45,3,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...
2,62,0,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...
3,4,4,https://timesofindia.indiatimes.com/india/6206...,According to the Union Ministry of Health and ...
4,13,3,https://timesofindia.indiatimes.com/sports/foo...,'Thousands have tried' - Bayern Munich ponder ...

In [76]:
train_data, test_data = train_test_split(data, test_size = 0.20, random_state=0)
print(train_data.head(5))

     userid  No_of_visit                                                url  \
687      48            0  https://timesofindia.indiatimes.com/world/paki...
500      74            2  https://timesofindia.indiatimes.com/india/as-c...
332      92            9  https://timesofindia.indiatimes.com/sports/foo...
979      85            6  https://timesofindia.indiatimes.com/india/6206...
817      63            1  https://timesofindia.indiatimes.com/sports/foo...

                                               summary
687  Pakistan, US review bilateral relationshipPTI ...
500  As China factor looms, India hopes to work wit...
332  'Thousands have tried' - Bayern Munich ponder ...
979  According to the Union Ministry of Health and ...
817  'Thousands have tried' - Bayern Munich ponder ...

In [77]:
#create an instance of popularity based recommender class

In [84]:
pm = Recommenders.popularity_recommender_py()
pm.create(train_data, 'userid', 'url')

In [85]:
#Use the popularity model to make some predictions

In [89]:
userid =8
pm.recommend(userid)

   userid                                                url  score  Rank
2       8  https://timesofindia.indiatimes.com/india/as-c...    177 1.000
1       8  https://timesofindia.indiatimes.com/india/6206...    173 2.000
0       8  https://timesofindia.indiatimes.com/home/educa...    154 3.000
4       8  https://timesofindia.indiatimes.com/world/paki...    150 4.000
3       8  https://timesofindia.indiatimes.com/sports/foo...    146 5.000

In [90]:
#Use the popularity based model to make predictions for the following user id (Note the difference in recommendations from the first user id).

In [91]:
user_id = 5
pm.recommend(user_id)

   userid                                                url  score  Rank
2       5  https://timesofindia.indiatimes.com/india/as-c...    177 1.000
1       5  https://timesofindia.indiatimes.com/india/6206...    173 2.000
0       5  https://timesofindia.indiatimes.com/home/educa...    154 3.000
4       5  https://timesofindia.indiatimes.com/world/paki...    150 4.000
3       5  https://timesofindia.indiatimes.com/sports/foo...    146 5.000

In [92]:
#Create an instance of item similarity based recommender class

In [93]:

is_model = Recommenders.item_similarity_recommender_py()
is_model.create(train_data, 'userid', 'url')

In [94]:
#Use the personalized model to make some song recommendations

In [96]:
#Print the website for the user in training data
user_id = 3
user_items = is_model.get_user_items(user_id)
#
print("------------------------------------------------------------------------------------")
print("Training data webiste for the user userid: %s:" % user_id)
print("------------------------------------------------------------------------------------")

for user_item in user_items:
    print(user_item)

print("----------------------------------------------------------------------")
print("Recommendation process going on:")
print("----------------------------------------------------------------------")

#Recommend songs for the user using personalized model
is_model.recommend(user_id)

------------------------------------------------------------------------------------
Training data webiste for the user userid: 3:
------------------------------------------------------------------------------------
https://timesofindia.indiatimes.com/home/education/news/career-in-data-science-in-india-courses-certification-salary-future-growth/articleshow/75023624.cms
https://timesofindia.indiatimes.com/sports/football/champions-league/top-stories/thousands-have-tried-bayern-munich-ponder-how-to-stop-messi/articleshow/77489723.cms
https://timesofindia.indiatimes.com/india/62064-more-covid-19-cases-in-india-recoveries-cross-15-lakh-mark/articleshow/77456041.cms
https://timesofindia.indiatimes.com/world/pakistan/pakistan-us-review-bilateral-relationship/articleshow/77503580.cms
----------------------------------------------------------------------
Recommendation process going on:
----------------------------------------------------------------------
No. of unique webiste for the user: 4
no. of unique webiste in the training set: 5
Non zero values in cooccurence_matrix :20

  userid                                            Webiste  score rank
0      3  https://timesofindia.indiatimes.com/india/as-c...  0.652    1

In [97]:
#Use the personalized model to make recommendations for the following user id. (Note the difference in recommendations from the first user id.)

In [98]:
#Print the website for the user in training data
user_id = 7
user_items = is_model.get_user_items(user_id)
#
print("------------------------------------------------------------------------------------")
print("Training data webiste for the user userid: %s:" % user_id)
print("------------------------------------------------------------------------------------")

for user_item in user_items:
    print(user_item)

print("----------------------------------------------------------------------")
print("Recommendation process going on:")
print("----------------------------------------------------------------------")

#Recommend songs for the user using personalized model
is_model.recommend(user_id)

------------------------------------------------------------------------------------
Training data webiste for the user userid: 7:
------------------------------------------------------------------------------------
https://timesofindia.indiatimes.com/india/62064-more-covid-19-cases-in-india-recoveries-cross-15-lakh-mark/articleshow/77456041.cms
https://timesofindia.indiatimes.com/world/pakistan/pakistan-us-review-bilateral-relationship/articleshow/77503580.cms
https://timesofindia.indiatimes.com/sports/football/champions-league/top-stories/thousands-have-tried-bayern-munich-ponder-how-to-stop-messi/articleshow/77489723.cms
https://timesofindia.indiatimes.com/home/education/news/career-in-data-science-in-india-courses-certification-salary-future-growth/articleshow/75023624.cms
----------------------------------------------------------------------
Recommendation process going on:
----------------------------------------------------------------------
No. of unique webiste for the user: 4
no. of unique webiste in the training set: 5
Non zero values in cooccurence_matrix :20

  userid                                            Webiste  score rank
0      7  https://timesofindia.indiatimes.com/india/as-c...  0.652    1

In [100]:

is_model.get_similar_items(['https://timesofindia.indiatimes.com/india/62064-more-covid-19-cases-in-india-recoveries-cross-15-lakh-mark/articleshow/77456041.cms'])

no. of unique webiste in the training set: 5
Non zero values in cooccurence_matrix :5

  userid                                            Webiste  score rank
0         https://timesofindia.indiatimes.com/home/educa...  0.772    1
1         https://timesofindia.indiatimes.com/world/paki...  0.663    2
2         https://timesofindia.indiatimes.com/sports/foo...  0.638    3
3         https://timesofindia.indiatimes.com/india/as-c...  0.602    4